body {
	background-color: lavender;
}
#pagewrap {
	padding: 35px;
	width: 1000px;
	margin: 20px auto;
	background-color: white;
	border-radius: 25px;
}

.header {
	height: 40px;
	width: 921px;
	border: lightblue 4px solid;
	border-radius: 25px;
	text-align: left;
	font-family: "Impact";
	font-size: 40px;
	margin-bottom: 15px;
	padding: 30px;
	background-color: lightblue;
}

nav {
    float: right;
    padding: 30px;
    display: inline-block;
}

ul{
    display: inline-block;
}

li{
    margin: 0 30px;
    padding: 2px 12px;
	border-radius: 15px;
    background-color: white;
    display: inline-block;
    font-family: "Arial";
    font-size: 15px; 
    color: white;
}
.cupcakes-col, .cookies-col, .cakes-col {
	display:inline-block;
	margin: 5px;
	padding: 5px;
	width: 302px;
	height: 800px;
	border: lightblue 4px solid;
	border-radius: 25px;
	text-align: center;
	font-family: "Impact";
	font-size: 25px;
	overflow: hidden;
}

.subhead{
	font-size: 20px;
	text-align: center;
	font-family: Arial;

}
/*.cupcakes-col {
	float: left;
	width: 250px;
}

.cookies-col {
	float: left;
	width: 250px%;
}

.cakes-col {
	float: left;
	width: 250px%;
}*/

img {
	height: 200px;
	width: 350px;
	padding-top: 10px;
}

p {
	font-family: "Arial";
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

a:link    {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:grey; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline; font-size: 110%}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}}