* {
  margin: 0;
}

body {
	background-color: lavender;
}

#pagewrap {
	padding: 35px;
	width: 1000px;
	margin: 20px auto;
	background-color: white;
	border-radius: 25px;
}

.pspecial{
	padding:5px;
	display: block;
	text-align: right;
	padding-right: 20px;
	font-size: 20px;
	font-family: "Arial";
	text-decoration: bold;
}

input {
  border: 2px solid lightblue;
  font-size: 18px;
  outline:none;
  text-align: center;
  padding: 5px;
}

input[type="submit"] {
  background: red;
  color: white;
  cursor:pointer;
  outline:none;
  text-align: center;
    }

.header {
	height: 40px;
	width: 921px;
	border: lightblue 4px solid;
	border-radius: 25px;
	text-align: left;
	font-family: "Impact";
	font-size: 40px;
	margin-top: 30px;
	margin-bottom: 15px;
	padding: 30px;
	background-color: lightblue;
}

nav {
    float: right;
    padding: 50px;
    display: inline-block;
}

ul{
    display: inline-block;
}

li{
    margin: 0 30px;
    padding: 2px 12px;
	border-radius: 15px;
    background-color: white;
    display: inline-block;
    font-family: "Arial";
    font-size: 15px; 
    color: white;
}

.cupcakes-col, .cookies-col, .cakes-col {
	display:inline-block;
	margin: 5px;
	margin-bottom: 15px;
	padding: 5px;
	width: 302px;
	height: 350px;
	border: lightblue 4px solid;
	border-radius: 25px;
	text-align: center;
	font-family: "Impact";
	font-size: 25px;
	overflow: hidden;
}

.subhead{
	font-size: 20px;
	text-align: center;
	font-family: Arial;
	margin-top: 15px;
}

img {
	height: 200px;
	width: 350px;
	padding-top: 10px;
}

p {
	font-family: "Arial";
	font-size: 16px;
	line-height: 20px;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
}

.footer{
	height: 40px;
	width: 921px;
	border: lightblue 4px solid;
	border-radius: 25px;
	text-align: center;
	font-family: "Impact";
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 30px;
	background-color: lightblue;
}

a:link    {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:blue; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:blue; background-color:transparent; text-decoration:underline}}
